.progress-bar {
  position: relative;
  text-align: center;
}

#progress-bar {
  display: flex;
  align-items: center; /* Центрирует текст по вертикали */
  justify-content: center; /* Центрирует текст по горизонтали */
  color: #fff; /* Цвет текста */
}   
